<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns="http://www.w3.org/1999/xhtml">

<div id="scripts">

	<script th:inline="javascript">
	
/* 	var query = `query RollDice($dice: Int!, $sides: Int) {
		  rollDice(numDice: $dice, numSides: $sides)
		}`;
		
	  fetch('http://localhost:8080/graphql', {
		    method: 'POST',
		    headers: {
		      'Content-Type': 'application/json',
		      'Accept': 'application/json',
		    },
		    body: JSON.stringify({
		    	query,
		    	variables: { dice, sides },
		    })
		  })
		    .then(r => r.json())
		    .then(data => console.log('data returned:', data)); */
	  
    </script>

</div>

</html>